/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2014, 7:57:52 PM
    Author     : Lucre Ck
*/
body, div, h1, h2, h3, a, li, ul, img, span, p, a{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
ul, li{
    list-style: none;
}
.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    clear: both;
    background-image: -moz-linear-gradient( -90deg, rgb(39,16,45) 0%, rgb(61,38,44) 8%, rgb(94,74,67) 30%, rgb(128,125,110) 50%, rgb(149,131,117) 80%, rgb(167,146,125) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(39,16,45) 0%, rgb(61,38,44) 8%, rgb(94,74,67) 30%, rgb(128,125,110) 50%, rgb(149,131,117) 80%, rgb(167,146,125) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(39,16,45) 0%, rgb(61,38,44) 8%, rgb(94,74,67) 30%, rgb(128,125,110) 50%, rgb(149,131,117) 80%, rgb(167,146,125) 100%);
    padding: 0;
    margin: 0;
    min-height: 800px;
    z-index: 2;
}
.logo{
    width: 50%;
    height: 100%;
}
.logo>img{
    left: 25px;
    top:18px;
    position: absolute;
}
.logo>h1{
    left: 57px;
    top:9px;
    font-size: 25px;
    color: white;
    position: absolute;
}
.logo> p{
    left: 58px;
    top:38px;
    font-size: 16px;
    color: #F0F2F3;
    position: absolute;
}
.main_bg {
    border-radius: 5px;
    background-color: rgb( 246, 246, 246 );
    box-shadow: 0px 4px 5px 0px rgb( 0, 0, 0 );
    position: relative;
    margin: auto;
    margin-top: 26px;
    margin-bottom: 26px;
    min-width: 980px;
    width: 98%;
    height: 90%;
    z-index: 7;
}

.top-bar {
    background-color: rgb( 122, 112, 110 );
    position: absolute;
    width: 100%;
    height: 71px;
    z-index: 328;
}

.search {
    border: solid 0.5px #c0a16b;
    background-color: rgb( 255, 255, 255 );
    background: white;
    position: absolute;
    top: 20px;
    float: right;
    right: 185px;
    width: 199px;
    height: 28px;
    z-index: 349;
    border-radius: 20px;
    padding-left: 10px;
}
.option{
    position: absolute;
    height: 100%;
    width: 50%;
    float: right;
    right: 0;
}
.btn_shape{
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 0, 0, 0 );
    background-color: rgba( 0, 0, 0, 0.078 );
    opacity: 0.2;
    position: absolute;
    top: 20px;
    float: right;
    right: 10px;
    margin-left: 10px;
    width: 33px;
    height: 33px;
    z-index: 346;
}
.img-op {
    position: absolute;
    float: right;

}
.op1{
    right: 140px;
    top: 20px;
}
.op2{
    right: 104px;
    top: 28px;
}
.op3{
    right: 62px;
    top: 27px;
}
.op21{
    right: 96px;
    top: 20px;
}
.op31{
    right: 53px;
    top: 20px;
}
.op4{
    right: 10px;
    top: 20px;
}



.bg_bar {
    background-color: rgb( 143, 215, 212 );
    position: absolute;
    top: 71px;
    width: 100%;
    height: 102px;
    z-index: 290;
}
.mask {
    border-style: solid;
    border-width: 3px;
    border-color: rgb( 255, 255, 255 );
    background-color: #F0F2F3;
    position: relative;
    border-radius: 50%;
    float: left;
    width: 59px;
    top: 20px;
    left: 20px;
    height: 59px;
    z-index: 323;
    margin-right: 20px;
}
.name-login {
    font-size: 16px;
    font-family: "Eau";
    color: rgb( 63, 63, 63 );
    font-weight: bold;
    line-height: 1.125;
    position: relative;
    float: left;
    top: 30px;
    width: 150px;
    height: 31px;
    margin-left: 20px;
    z-index: 322;
}
.name-login>p{
    color: white;
    font-weight: 100;
}
.static{
    float: right;
    border-right: solid 1px rgb( 112, 104, 102 );
    margin-left: 15px;
    margin-right: 15px;
    width: 120px
}
.static>p{
    color: white;
    font-weight: 100;
    font-size: 20px;
}
.lateral-menu{
    background-color: rgb( 112, 104, 102 );
    position: absolute;
    width: 107px;
    height: 100%;
    z-index: 248;
}
.option-menu{
    width: 100%;
    height: auto;
    position: absolute;
    min-height: 100px;
}
.shape {
    background-color: rgb( 122, 112, 110 );
    box-shadow: 0px 1px 0px 0px rgb( 107, 98, 97 );
    position: relative;
    width: 101px;
    height: 93px;
    z-index: 284;
    border-bottom:solid 2px rgb( 112, 104, 102 );
}
.shape>a{
    position: absolute;
    width: 101px;
    height: 93px;
    display: block;
    text-align: center;
    text-decoration: none;
}
.shape>a>img {
    height: 40px;
    width: auto;
    margin-top:20px;
}
.shape>a>p {
    font-size: 16px;
    text-decoration: none;
    color: white;
    bottom: 5px;
    font-weight: bold;
}
.shape:hover{
    background: rgb( 112, 104, 102 );
}
.content-wrapper{
    position: relative;
    top: 173px;
    height: auto;
    min-height: 550px;
    width: 100%;
}
.main-content{
    position: relative;
    left:120px;
    height: auto;
    max-width: 88%;
}

.idCart2{
    background: white;
    border: solid 1px #e1e1e1;
}
.idCart2> thead>tr{
    background-color: #f0f0f0;
    width: 100%;
    padding: 5px;
    padding-right: 0;
    padding-left: 0;
    min-width: 720px;

}
.idCart2> tbody>tr{
    min-width: 720px;
}

.idCart2 > thead>tr>th,.idCart2 > tbody>tr>td{
    width: 12%;
    border-left: solid 1px #e1e1e1;
    height: 100%;
}
.idCart2 > tbody>tr>td{
    font-weight: 200;
}
.text-input{
    height: 24px;
    border: solid 1px #e5e5e5;
    border-radius: 1px;
}
.text-input:focus{
     box-shadow: none;
}
.btn-red{
    border:none;
    background-color: #fb877a;
    color: white;
    padding: 6px 15px 6px 15px;
    margin-left: 1px;
}
.btn-blue{
    border:none;
    background-color: #8fd7d4;
    color: black;
    padding: 6px 15px 6px 15px;
}

